body{
	position: relative;
}
.Ticket-header{
	width: 100%;
	height: 48px;
	border-bottom: 1px solid #CCCCCC;
	font-size: 18px;
	line-height: 48px;
}
.Ticket-header img{
	float: right;
	width: 19px;
	height: 19px;
	margin-top: 15px;
	margin-right: 15px;
}
.down-box{
	width: 156px;
	position: absolute;
	top: 35%;
	left:30%;
}
.down-box img{
	width: 117px;
	height: 83;
}

.down-box p{
	margin-top: 15px;
	color: #999999;
}
.down-box button{
	width: 100%;
	height: 44px;
	background-color: orangered;
	margin-top: 40px;
	border: 0;
	border-radius: 22px;
}
